.navbar-fixed,
.sidebar,
.sidenav,
.about,
.team,
.page-footer,
.footer-copyright,
.partner-bisnis,
.penawaran,
.testimoni,
.hubungi,
.komunitas,
.login {
    font-family: 'Quicksand', sans-serif;
}

.slider h3,
.slider h5 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: 'Quicksand', sans-serif;
}

section {
    padding: 20px 0;
}

.logo-android,
.logo-iphone {
    height: 70px;
}

.medsos {
    height: 30px;
}

.avatar {
    height: 40px;
}

.img-team {
    height: 240px;
}

.student,
.investor {
    height: 240px;
    position: center;
}

.logo-object {
    height: 200px;
    padding-top: 70px;
}

.gambar-investasi {
    height: 240px;
}

.img-komunitas {
    height: 120px;
}